<div class="container">
  <h2>Branch Management</h2>
</div>
  <!-- Summary Cards with mat-grid-list -->
  <app-stats-grid [stats]="stats"></app-stats-grid>

  <!-- Action Buttons -->
  <app-button-panel [buttons]="actionbuttons" (actionClicked)="onActionPannel($event)"></app-button-panel>

<!-- Search Form -->
<div *ngIf="searchForm && allDataLoaded" id="serverSearch">
  <form [formGroup]="searchForm">
    <dynamic-field
      *ngFor="let field of filterFormMeta"
      [formInstance]="searchForm"
      [field]="field"
    >
    </dynamic-field>
  </form>
</div>

<!-- Data-Table -->
<app-data-table
  [data]="branches"
  [columns]="columns"
  [sortable]="true"
  [paginatable]="true"
  [pageSizeOptions]="[5,10]"
  (rowClick)="onRowClick($event)"
>
  <!-- Custom actions column -->
  <ng-template tableCell="actions" let-row>
    <button mat-button (click)="onRowActionClick('edit', row); $event.stopPropagation()">Edit</button>
  </ng-template>
</app-data-table>




