mat-header-row{
  background-color: #d5d5d5;
  font-weight: 500;
}

.checkbox-cell {
  max-width: 15px;
}

mat-cell{
  min-width: 56px;
  padding: 2px 6px;
  font-size: 13px;
  text-transform: none; /* ERP buttons usually not uppercase */

  &:last-child {
    margin-right: 0;
  }
}
