mat-header-row{
  background-color: #e8e5e5;
  font-weight: 500;
}

.checkbox-cell {
  max-width: 40px;
}

mat-cell:first-of-type, mat-header-cell:first-of-type{
  padding:unset!important;
}

mat-table{
  background-color: white;
}

