$primary-teal:#115E63;
$hover-teal:  #072F32;
$white: #ffffff;
$dark-text: #101010;
$card-padding: 20px;

mat-card {
  padding: $card-padding;
  background-color: $primary-teal !important;

  mat-card-title {
    padding: 10px $card-padding;
    color: $white;
  }

  mat-card-content {
    padding: 10px $card-padding $card-padding;
    color: $white;
  }
}

button {
  background-color: $white !important;
  color: $dark-text !important;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 8px;
  margin-bottom: 10px;
  align-items: center;

  &:hover:not(.mat-disabled) {
    background-color: $hover-teal !important;
    color: $white !important;
  }
}
