mat-card {
  padding: 20px;
  background-color: #048f98 !important;
  //background-color: #ffe0cc!important;
}

mat-card-title {
  padding: 10px 20px 10px 20px;
  color: white;
  //color: #140648!important;
}

mat-card-content {
  padding: 10px 20px 20px 20px;
  color: white;
  //color: #140648;
}

button {
  background-color: #ffffff !important;
  color: #101010 !important;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 8px;
  margin-bottom: 10px;
  align-items: center;

  &:hover:not(.mat-disabled) {
    background-color: #046269 !important;
    color: white !important;
  }

}
