button {
  background-color: #048f98 !important;
  //background-color: #ea7d38 !important;
  color: white !important;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  margin-right: 8px;
  margin-bottom: 10px;
  align-items: center;

  &:hover:not(.mat-disabled) {
    //background-color: #dc5619 !important;
    background-color: #004649 !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.18);
  }

}

/* Disabled state */
button:disabled {
  background-color: rgba(125, 136, 141, 0.69) !important;
  color: white !important;
  cursor: not-allowed;
}


