<div class="button-panel">
  <ng-container *ngFor="let btn of buttons; let i = index">

    <!-- Regular Button -->
    <button *ngIf="!btn.dropdown"
            mat-raised-button
            [color]="btn.color || 'primary'"
            [disabled]="isDisabled(btn)"
            (click)="onClick(btn)"
    >
      <mat-icon *ngIf="btn.icon">{{ btn.icon }}</mat-icon> {{ btn.label }}
    </button>

    <!-- Dropdown Menu -->
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item *ngFor="let item of btn.dropdown"
              (click)="onClick(item, true)">
        {{ item.label }}
      </button>
    </mat-menu>

    <!-- Dropdown Trigger Button -->
    <button *ngIf="btn.dropdown"
            mat-raised-button
            [color]="btn.color || 'primary'"
            [disabled]="isDisabled(btn)"
            [matMenuTriggerFor]="menu"
    >
      <ng-container *ngIf="btn.icon">
        <mat-icon *ngIf="!btn.iconType || btn.iconType === 'mat'">{{ btn.icon }}</mat-icon>
        <i *ngIf="btn.iconType === 'fa'" class="fa fa-{{ btn.icon }}"></i>
      </ng-container>
      {{ btn.label }}
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

  </ng-container>
</div>
