$dialog-bg-color: #FAFAFA;

mat-dialog-actions {
  max-height: 68px;
  background-color: $dialog-bg-color !important;
}

mat-dialog-content {
  background-color: $dialog-bg-color !important;
  form {
    padding-left: 20px;
  }
}

::-webkit-scrollbar {
  display: none;
}
