$primary-teal: #115E63;
$dark-teal: #046269;
$card-text-white: #ffffff;
$button-bg: #ffffff;
$button-text: #101010;
$standard-padding: 20px;
$tight-padding: 10px;

mat-card {
  padding: $standard-padding;
  background-color: $primary-teal !important;

  mat-card-title {
    padding: $tight-padding $standard-padding;
    color: $card-text-white;
  }

  mat-card-content {
    padding: $tight-padding $standard-padding $standard-padding;
    color: $card-text-white;
  }
}

button {
  background-color: $button-bg !important;
  color: $button-text !important;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 8px;
  margin-bottom: 10px;
  align-items: center;

  &:hover:not(.mat-disabled) {
    background-color: $dark-teal !important;
    color: $card-text-white !important;
  }
}
