:host {

  .listbox-container {
    min-height: 250px;
    display: -webkit-box;
    align-items: center;
    box-shadow: unset;
    background: unset;
    left: -20px;
    padding: 25px 1% 1%;
    padding-inline-start: 40px;

    .source-list,
    .destination-list {
      min-height: 210px;
      display: flex;
      flex-direction: column;
      width: 42%;
      background: rgba(227, 227, 227, 0.08);
      border: #333333 1px solid;
      box-shadow: unset;
      max-height: 180px;


      mat-form-field {
        background: #f5f4f4;
      }

      mat-selection-list {
        flex: 1;
        overflow: auto;
      }
  }
  }

  .button-panel {
    width: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: none;
    background: none;
    margin: 0 15px;
    -webkit-padding-start: 22px;
    -webkit-padding-end: 22px;
    bottom: 9px;

    button {
      //display: flex;
      //justify-content: center;
      //align-items: center;
      //font-size: 1rem;
      //font-weight: 100;
      //width: fit-content;
      color: #333333;
      background: #fdfbff;
      border-radius: 10px;
      border: 1px solid #818181;
      padding:unset;

      &:hover {
        background: #f4823b;
        color: #ffffff;
        border: 1px solid #fdfdfe;
        cursor: pointer;
      }

      mat-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
      }
    }
  }

  .flip-horizontal {
    transform: scaleX(-1);
  }

  ::-webkit-scrollbar {
    display: none;
  }

  /*
  mat-form-field {
    --mat-form-field-container-height: 40px;
    --mat-form-field-container-vertical-padding: 8px;
    width: 95%;
    justify-items: center;
    position: sticky;
    //top: 4.1%;
    background: #fdfbff;
    z-index: 1;
    left: 2.5%;
  }

  .center-input {
    text-align: center;
  }
   */
}
