<mat-card class="listbox-container">
  <mat-card class="source-list">
    <mat-selection-list #SourceList>
      @for (item of sourceList; track item) {
        <mat-list-option [value]="item">
          {{ displayProperty ? item[displayProperty] : (item | json) }}
        </mat-list-option>
      }
    </mat-selection-list>
  </mat-card>

  <mat-card class="button-panel">
    <button mat-raised-button color="primary" (click)="moveItems(true)">
      <mat-icon>chevron_right</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="moveItems(false)">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-raised-button color="accent" (click)="moveAllItems(true)">
      <mat-icon>double_arrow</mat-icon> <!-- Use CSS to rotate if needed -->
    </button>
    <button mat-raised-button color="accent" (click)="moveAllItems(false)">
      <mat-icon class="flip-horizontal">double_arrow</mat-icon>
    </button>
  </mat-card>

  <mat-card class="destination-list">
    <mat-selection-list #DestinationList>
      @for (item of destinationList; track item) {
        <mat-list-option [value]="item">
          {{ displayProperty ? item[displayProperty] : (item | json) }}
        </mat-list-option>
      }
    </mat-selection-list>
  </mat-card>
</mat-card>
