:host {
  $border-color: #333333;
  $secondary-border: #818181;
  $bg-panel: rgba(227, 227, 227, 0.08);
  $bg-field: #f5f4f4;
  $bg-btn: #fdfbff;
  $hover-color: #115E63;

  .listbox-container {
    display: flex;
    flex-direction: row; // Ensures horizontal orientation
    align-items: center;
    justify-content: space-between;
    min-height: 250px;
    padding: 25px 1% 1% 40px;
    background: none;
    box-shadow: none;
    position: relative;
    left: -20px;

    .source-list,
    .destination-list {
      display: flex;
      flex-direction: column;
      width: 42%;
      min-height: 210px;
      max-height: 180px;
      background: $bg-panel;
      border: 1px solid $border-color;
      box-shadow: none;

      mat-form-field {
        background: $bg-field;
      }

      mat-selection-list {
        flex: 1;
        overflow: auto;
      }
    }

    .button-panel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 8%;
      gap: 10px;
      margin: 0 15px;
      padding: 0 22px;
      background: none;
      box-shadow: none;
      position: relative;
      bottom: 9px;

      button {
        background: $bg-btn;
        color: $border-color;
        border: 1px solid $secondary-border;
        border-radius: 10px;
        padding: unset;

        &:hover {
          cursor: pointer;
          background-color: $hover-color !important;
          color: #ffffff;
          border: 1px solid #fdfdfe;
        }

        mat-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;
        }
      }
    }
  }

  .flip-horizontal {
    transform: scaleX(-1);
  }

  .mdc-list-item__primary-text {
    font-size: 13px !important;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
