<div class="container">
  <h2>Permit Details Management</h2>
</div>
<!-- Loading -->
<mat-progress-bar *ngIf="loading$ | async" mode="indeterminate"></mat-progress-bar>

<!-- Error -->
<div *ngIf="error$ | async as error" id="error-window">
  <mat-card>
    <mat-card-title>Error loading permits</mat-card-title>
    <mat-card-content>{{ error?.message }}</mat-card-content>
    <button mat-raised-button style="background-color: darkcyan" (click)="reload()">Retry</button>
  </mat-card>
</div>

<!-- ===== Action Panel ===== -->
<app-button-panel
  *ngIf="metadata$ | async as metadata"
  [buttons]="actionPanelConfig"
  (actionClicked)="onActionTriggered($event)"
  (dropdownClicked)="onDropdownOnlyClick($event)"
  [contextData]="{ selectedRows: selectedRows }"
>
</app-button-panel>


<div *ngIf="metadata$ | async as metadata" id="serverSearch">
  <form [formGroup]="filterForm">
    <dynamic-field
      *ngFor="let field of filterFormMeta; trackBy: trackByField"
      [formInstance]="filterForm"
      [field]="field"
    ></dynamic-field>
  </form>
</div>

<!-- ===== Main Table with Side View ===== -->
<app-side-view
  [opened]="activePermit !== null"
  [data]="activePermit"
  [title]="'Permit Details'"
  [viewTemplate]="permitDetailTemplate"
  (closed)="onCloseDetailView()"
>
  <app-data-table
    *ngIf="(permits$ | async)?.length"
    [data]="(permits$ | async) || []"
    [columns]="tableColumns"
    [sortable]="true"
    [paginatable]="true"
    [pageSizeOptions]="[10, 20]"
    (rowClick)="onRowClick($event)"
    (checkBoxClick)="onRowCheckboxChanged($event)"
    (selectAllClick)="onSelectAll($event)"
    (actionClick)="onRowAction($event.action, $event.row)"
  >
    <!-- Row Actions -->
    <ng-template tableCell="actions" let-row let-action="action">
      <button  style="color: coral;" mat-button (click)="action('transfer', row); $event.stopPropagation()">
        <mat-icon>outbound</mat-icon>
      </button>
    </ng-template>
  </app-data-table>
</app-side-view>

<!--Template for detail view -->
<ng-template #permitDetailTemplate let-row>
  <div  class="permit-detail-container">
    <!-- Header -->
    <div class="header">
      <div class="title-section">
        <mat-icon color="primary" class="permit-icon">assignment</mat-icon>
        <div>
          <h6 class="permit-title">Permit - {{ row.branch.name }}</h6>
          <p class="employee-subtitle">Number: {{ row.number }}</p>
        </div>
      </div>

      <span
        class="status-chip"
        [ngClass]="{
        'active': row.permitestatus.name === 'Active',
        'suspend': row.permitestatus.name === 'Suspend',
        'resigned': row.permitestatus.name === 'Expired',
        'Onleave': row.permitestatus.name === 'Transferred'
      }">
      {{ row.permitestatus.name }}
      </span>
    </div>
  <mat-divider></mat-divider>

    <!-- General Info -->
    <div class="info-grid">
      <div class="info-item">
        <span class="label">Vehicle</span>
        <span class="value">{{ row.vehicle.number || '-' }}</span>
      </div>
      <div class="info-item">
        <span class="label">Issued Date</span>
        <span class="value">{{ row.doissued || '-' }}</span>
      </div>
      <div class="info-item">
        <span class="label">Exp Date</span>
        <span class="value">{{ row.doexpired || '-' }}</span>
      </div>
      <div class="info-item">
        <span class="label">Exp Date</span>
        <span class="value">{{ row.doexpired || '-' }}</span>
      </div>
      <div class="info-item">
        <span class="label">Service Type</span>
        <span class="value">{{ row.servicetype.name || '-' }}</span>
      </div>
      <div class="info-item">
        <span class="label">Route</span>
        <span class="value">{{ row.route.number || '-' }}</span>
      </div>
    </div>
  <mat-divider></mat-divider>
  </div>
</ng-template>

