<div class="container">
  <h2>Trip Details Management</h2>
</div>
<!-- Loading -->
<mat-progress-bar *ngIf="loading$ | async" mode="indeterminate"></mat-progress-bar>

<!-- Error -->
<div *ngIf="error$ | async as error" id="error-window">
  <mat-card>
    <mat-card-title>Error loading Trips</mat-card-title>
    <mat-card-content>{{ error?.message }}</mat-card-content>
    <button mat-raised-button color="primary" (click)="reload()">Retry</button>
  </mat-card>
</div>

<!-- ===== Action Panel with Search Bar===== -->
<app-button-panel
  *ngIf="metadata$ | async as metadata"
  [buttons]="actionPanelConfig"
  (actionClicked)="onActionTriggered($event)"
  (dropdownClicked)="onDropdownOnlyClick($event)"
  [contextData]="{ selectedRows: selectedRows }"
>
</app-button-panel>

<div *ngIf="metadata$ | async as metadata" id="serverSearch">
  <form [formGroup]="filterForm">
    <dynamic-field
      *ngFor="let field of filterFormMeta; trackBy: trackByField"
      [formInstance]="filterForm"
      [field]="field"
    ></dynamic-field>
  </form>
</div>

<!-- ===== Main Table with Side View ===== -->
<app-side-view
  [opened]="activeRow !== null"
  [data]="activeRow"
  [title]="'Trip Details'"
  [viewTemplate]="tripDetailTemplate"
  (closed)="onCloseDetailView()"
>
  <app-data-table
    *ngIf="(trips$ | async)?.length"
    [data]="(trips$ | async) || []"
    [columns]="tableColumns"
    [sortable]="true"
    [paginatable]="true"
    [pageSizeOptions]="[10, 20]"
    (rowClick)="onRowClick($event)"
    (checkBoxClick)="onRowCheckboxChanged($event)"
    (selectAllClick)="onSelectAll($event)"
    (actionClick)="onRowAction($event.action, $event.row)"
  >
    <!-- Row Actions -->
    <ng-template tableCell="actions" let-row let-action="action">
      <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon> </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="action('activate', row)">
          <mat-icon style="color: #22543d;">play_circle</mat-icon>
          <span>Activate</span>
        </button>

        <button mat-menu-item (click)="action('suspend', row)">
          <mat-icon style="color: #744210;">pause_circle</mat-icon>
          <span>Suspend</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-menu-item (click)="action('discontinue', row)">
          <mat-icon style="color: #c53030;">dangerous</mat-icon>
          <span>Discontinue</span>
        </button>
      </mat-menu>
    </ng-template>
  </app-data-table>
</app-side-view>

<!--Template for detail view -->
<ng-template #tripDetailTemplate let-row>
  <div  class="trip-detail-container">
    <!-- Header -->
    <div class="header">
      <div class="title-section">
        <mat-icon color="primary" class="trip-icon">precision_manufacturing</mat-icon>
        <div>
          <h6 class="trip-title">{{ row.branch.name }}</h6>
          <p class="trip-subtitle">Number: {{ row.permite.number }}</p>
        </div>
      </div>

      <span
        class="status-chip"
        [ngClass]="{
        'DRAFT': row.tripstatus.name === 'Draft',
        'ACTIVATE': row.tripstatus.name === 'Active',
        'SUSPEND': row.tripstatus.name === 'Suspended',
        'DISCONTINUE': row.tripstatus.name === 'Discontinued'
      }">
      {{ row.tripstatus.name }}
      </span>
    </div>
    <mat-divider></mat-divider>

    <!-- General Info -->
    <div class="info-grid">
      <div class="info-item">
        <span class="label">Type</span>
        <span class="value">{{ row.triptype.name || '-' }}</span>
      </div>
      <div class="info-item">
        <span class="label">Departure Time</span>
        <span class="value">{{ row.todepature || '-' }}</span>
      </div>
      <div class="info-item">
        <span class="label">Arrival Time</span>
        <span class="value">{{ row.toarrival || '-' }}</span>
      </div>
      <div class="info-item">
        <span class="label">Origin Terminal</span>
        <span class="value">{{ row.originterminal.name || '-' }}</span>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
</ng-template>

